<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Customer Purchased History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        body {
            display: flex;
        }
        .sidebar {
            flex: 0 0 200px;
            height: 100vh;
            background-color: #f0f0f0;
            padding: 20px;
            box-sizing: border-box;
        }
        .sidebar a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
            color: #333;
        }
        .content {
            flex: 1;
            padding: 50px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <h1>Customer Purchased History</h1>
    <div class="sidebar-links">
        <a th:href="@{/bookstore_portal}">BookStore Portal</a>
        <a th:href="@{/cart}">View Cart</a>
        <a th:href="@{/customer_purchased_history}">Customer Purchased History</a>
        <a th:href="@{/customer_logout}">Log Out</a>
        <a th:href="@{/}">Return to Home Portal</a>
    </div>
</div>

    <div>
        <p style="" th:text="${empty_books}"></p>
        <table>
            <tbody>
            <thead>
            <th>ISBN</th>
            <th>Version</th>
            <th>Book Name</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>Price</th>
            </thead>
            <tr th:each="book: ${books}">
                <td th:text="${book.isbn}" />
                <td th:text="${book.version}" />
                <td th:text="${book.bookName}" />
                <td th:text="${book.publisher}" />
                <td th:text="${book.author}" />
                <td th:text="${book.price}" />
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
